#lucenelog {
  font-family: arial;
  font-size: 11px;
}
#lucenelog .log {
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}
#lucenelog .even {
  background: none repeat scroll 0 0 #ADD8E6;
}
#lucenelog .odd {
  background: none repeat scroll 0 0 #FFFFFF;
}
#lucenelog .log-num, #lucenelog .log-body {
  float: left;
}
#lucenelog .log-num {
  width: 5%;
}
#lucenelog .log-body {
  width: 95%;
}
#lucenelog .log-body .log-message {
  font-family: "Courier New";
  font-size: 12px;
}
#lucenelog .log-body .log-message .full-log-message {
  display: none;
}
#lucenelog .clearfix {
  clear: both;
}
#lucenelog .log-separator {
  margin: 0 10px;
}
#lucenelog .log-metadata div {
  float: left;
}
#lucenelog .log-metadata, #lucenelog .log-hidden-data {
  margin: 6px 0;
  overflow: hidden;
}
#lucenelog .log-hidden-data {
  display: none;
}
#lucenelog .log-hidden-data div{
    margin-bottom: 5px;
}
#lucenelog-timestamp .container-inline-date {
  display: inline;
}
#lucenelog-timestamp .form-item-from-time input, #lucenelog-timestamp .form-item-till-time input {
  width: 40px;
}